<div class="card">
  <h1>Pablo Gozálvez</h1>
  <p class="card-description">Full Stack Developer</p>
</div>

<section id="contact" class="card" aria-labelledby="contact-heading">
  <h2 id="contact-heading">Get in Touch with Me</h2>
  <div class="h-separator"></div>
  <pre
    aria-label="Java code"
  ><code class="language-java java" data-lang="language-java java" codeHighlight>
    public class Contact {{ '{' }}
        public static void main(String[] args) {{ '{' }}
            System.out.println("You can contact me in different ways:");
        {{ '}' }}
    {{ '}' }}
  </code></pre>
  <p class="card-description">
    Via email:
    <a href="mailto:pablogozalvezr@gmail.com">pablogozalvezr&#64;gmail.com</a>
  </p>
  <p class="card-description">
    Social media:
    <a
      class="devicon-linkedin-plain social-icon"
      href="https://www.linkedin.com/in/pablogoz%C3%A1lvez/"
      target="_blank"
      aria-label="LinkedIn Profile"
    ></a>
    <a
      class="devicon-github-original social-icon"
      href="https://github.com/pablogozalvez"
      target="_blank"
      aria-label="GitHub Profile"
    ></a>
    <a
      class="fa-solid fa-gamepad social-icon"
      href="https://decauwu.itch.io/"
      target="_blank"
      aria-label="Itch.io Profile"
    ></a>
    <a
      class="devicon-twitter-original social-icon"
      href="https://x.com/decaa21"
      target="_blank"
      aria-label="Twitter (X) Profile"
    ></a>
  </p>
</section>
