<div class="card">
  <h1>Error 404</h1>
  <p class="card-description">
    The page you are looking for does not exist. Please, check the URL and try
    again.
  </p>
</div>
<section class="card active">
  <pre
    aria-labelledby="java-error-description"
  ><code class="language-java" data-lang="java" codeHighlight>
    public class Error404 {{ '{' }}
        public static void main(String[] args) {{ '{' }}
            System.err.println("The page you are looking for does not exist.");
            System.err.println("Please, check the URL and try again.");
        {{ '}' }}
    {{ '}' }}
  </code></pre>
  <p id="java-introduction-description" style="display: none">
    Example Java code to show a message when a 404 error occurs.
  </p>
  <a class="btn" href="/">Go back to the main page</a>
</section>
