<div class="card">
  <h1>Pablo Gozálvez</h1>
  <p class="card-description">Full Stack Developer</p>
</div>

<section id="about" class="card" aria-labelledby="about-heading">
  <h2 id="about-heading">About Me</h2>
  <div class="h-separator"></div>
  <pre
    aria-labelledby="java-introduction-description"
  ><code class="language-java" data-lang="language-java java" codeHighlight>
    public class PabloGozalvez {{ '{' }}
        public static void main(String[] args) {{ '{' }}
            System.out.println("Hi! I'm Pablo, a Full Stack Developer based in Alicante, Spain.");
        {{ '}' }}
    {{ '}' }}
    </code></pre>
  <p id="java-introduction-description" style="display: none">
    Example Java code introducing Pablo Gozálvez.
  </p>
  <div class="card-grid">
    <div class="card hoverable">
      <h3>Languages</h3>
      <div class="h-separator"></div>
      <ul class="skill-list">
        <li><i class="devicon-java-plain"></i></li>
        <li><i class="devicon-javascript-plain"></i></li>
        <li><i class="devicon-typescript-plain"></i></li>
        <li><i class="devicon-csharp-plain"></i></li>
        <li><i class="devicon-php-plain"></i></li>
        <li><i class="devicon-kotlin-plain"></i></li>
      </ul>
    </div>
    <div class="card hoverable">
      <h3>Frontend</h3>
      <div class="h-separator"></div>
      <ul class="skill-list">
        <li><i class="devicon-angularjs-plain"></i></li>
        <li><i class="devicon-bootstrap-plain"></i></li>
        <li><i class="devicon-java-plain"></i>Fx</li>
        <li><i class="devicon-androidstudio-plain"></i></li>
        <li><i class="devicon-nextjs-plain"></i></li>
      </ul>
    </div>
    <div class="card hoverable">
      <h3>Backend</h3>
      <div class="h-separator"></div>
      <ul class="skill-list">
        <li><i class="devicon-nodejs-plain"></i></li>
        <li><i class="devicon-express-original"></i></li>
        <li><i class="devicon-spring-plain"></i></li>
        <li><i class="devicon-laravel-original"></i></li>
      </ul>
    </div>
    <div class="card hoverable">
      <h3>Databases</h3>
      <div class="h-separator"></div>
      <ul class="skill-list">
        <li><i class="devicon-mysql-plain"></i></li>
        <li><i class="devicon-mongodb-plain"></i></li>
        <li><i class="devicon-postgresql-plain"></i></li>
        <li><i class="devicon-sqlite-plain"></i></li>
        <li><i class="devicon-microsoftsqlserver-plain"></i></li>
      </ul>
    </div>
    <div class="card hoverable">
      <h3>Tools</h3>
      <div class="h-separator"></div>
      <ul class="skill-list">
        <li><i class="devicon-git-plain"></i></li>
        <li><i class="devicon-docker-plain"></i></li>
        <li><i class="devicon-composer-line"></i></li>
        <li><i class="devicon-jira-plain"></i></li>
        <li><i class="devicon-junit-plain"></i></li>
      </ul>
    </div>
    <div class="card hoverable">
      <h3>Game Development</h3>
      <div class="h-separator"></div>
      <ul class="skill-list">
        <li><i class="devicon-unity-plain"></i></li>
        <li><i class="devicon-godot-plain"></i></li>
        <li><i class="devicon-blender-original"></i></li>
      </ul>
    </div>
  </div>
</section>
