<div class="card">
  <h1>Pablo Gozálvez</h1>
  <p class="card-description">Full Stack Developer</p>
</div>

<section id="projects" class="card" aria-labelledby="projects-heading">
  <h2 id="projects-heading">Completed Projects</h2>
  <div class="h-separator"></div>
  <p class="card-description">See some of the projects I have worked on!</p>
  <p class="card-description">
    Explore all of my projects on
    <a
      class="devicon-github-original social-icon"
      href="https://github.com/pablogozalvez"
      target="_blank"
      aria-label="GitHub Profile"
    ></a>
  </p>
  <div id="project-container" class="card-grid">
    @for (project of projects(); track project.name) {
    <project-card [project]="project"></project-card>
    }
  </div>
</section>
