<footer role="contentinfo">
  <ul class="social-media-icons">
    <li>
      <a
        class="devicon-linkedin-plain"
        href="https://www.linkedin.com/in/pablogoz%C3%A1lvez/"
        target="_blank"
        aria-label="LinkedIn Profile"
      ></a>
    </li>
    <li>
      <a
        class="devicon-github-original"
        href="https://github.com/pablogozalvez"
        target="_blank"
        aria-label="GitHub Profile"
      ></a>
    </li>
    <li>
      <a
        class="fa-solid fa-gamepad"
        href="https://decauwu.itch.io/"
        target="_blank"
        aria-label="Itch.io Profile"
      ></a>
    </li>
    <li>
      <a
        class="devicon-twitter-original"
        href="https://x.com/decaa21"
        target="_blank"
        aria-label="Twitter (X) Profile"
      ></a>
    </li>
    <li>
      <a
        class="far fa-envelope"
        href="mailto:pablogozalvezr@gmail.com"
        target="_blank"
        aria-label="Send me an email"
      ></a>
    </li>
  </ul>
  <p>&copy; 2025 - Created by Pablo Gozálvez</p>
</footer>
